<%= simple_form_for :refresh, html: { id: 'refresh_form' }, remote: true do |f| %>
  <%= f.input :post, as: :string %>
<% end %>
<button id="ajax_btn">Refresh</button>

<table>
  <thead>
    <td>Date</td>
    <td>Author</td>
    <td>Body</td>
    <td>Location</td>
    <td>Email</td>
    <td>Keywords</td>
  </thead>

  <tbody>

    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.date_posted %></td>
        <td><%= job.author %></td>
        <td><%= job.body %></td>
        <td>Email</td>
        <td><%= job.location %></td>
        <td>Keywords</td>
      </tr>
    <% end %>

  </tbody>
</table>
